body {
    background-color: white;
    font-family: tahoma;
    font-size: 33px;
}

button {
    background-color: rgb(127, 150, 255);
    font-size: 33px;
    padding: 5px;
    font-family: Impact;
}

button:hover {
    background-color: yellow;
}